<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherHere</title>
    <link
      rel="shortcut icon"
      href="weather_image_icon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="weatherhere_css.css" />
  </head>
  <body>
    <h1>WeatherHere</h1>
    <div class="main_frame">
      <div class="weather_frame">
        <div class="weather_loc">
          <div class="weather_city">Loc : LONDON</div>
          <div class="weather_country">Country : GREAT BRITAIN</div>
        </div>
        <div>
          <div class="weather_tz">Time Zone : <b>+5:30 GMT</b>  </div>
        </div>
        <hr />

        <div class="weather_ps">
          <div class="weather_temp_m">14.4°C</div>
        </div>
        <div class="weather_ws">
          <div class="weather_icon">
            <img
              src="http://openweathermap.org/img/wn/01d@2x.png"
              alt="weather_icon"
            />
          </div>
          <div class="weather_con">Clear Sky</div>
        </div>
        <hr>
        <div class="weather_ps">
          <div class="weather_temp">Feels like: 14.4°C</div>
          <div class="weather_temp">
            Max/Min: 21/18 °C
          </div>
        </div>
        <div class="weather_ps">
          <div class="weather_humid">Humidity: 45&#37;</div>
          <div>Cloud : 0&#37;</div>
        </div>
        <div class="weather_ps">
          <div class="weather_wind">Wind: 1.34m/s NE</div>
        </div>
        <div class="weather_ps">
          <div class="weather_pressure">Pressure: 1019hPa</div>
        </div>
        <div class="weather_ps">
          <div>Visibility: 10.0km</div>
        </div> 
      </div>
      <p class="weather_obs">observed at : 12:32 PM</p>
    </div>
  </body>
</html>
